:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: white;
    background-image: url("../../public/white-abstract-wallpaper_23-2148830026.avif");
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h1 {
    background: linear-gradient(90deg, red, yellow, green, white);
    background-size: 400% 400%;
    background-clip: text;
    font-weight: bold;
    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite alternate;
    margin: 0;
}


.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

